.App {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
}

.todo-list {
    grid-column-start: 2;
}

.todo, .todo-complete {
    width: 100%;
    border: 2px solid black;
    display: flex;
    margin: 10px;
}

.todo:hover {
    background-color: wheat;
    transition: background-color 0.5s;
}

.todo-complete {
    opacity: 20%;
}

.text-container {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 40px 40px;
    grid-template-rows: 10px 1fr 10px;
}

.todo-text {
    width: 100%;
    text-align: center;
    font-size: 24px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.todo-text:hover {
    cursor: default;
}

.checkbox {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
}

.delete-icon {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    cursor: pointer;
}

.edit-icon {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    cursor: pointer;
}

.text-input {
    font-size: 24px;
    border: 2px solid black;
}

.text-input:focus {
    outline: none;
}

.submit-button {
    font-size: 24px;
    border: 2px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
}
